* {
	box-sizing:			border-box;
	-webkit-box-sizing:	border-box;
	-moz-box-sizing:	border-box;

	margin: 0; /*to get rid of browsers applying margins by default (very silly)*/
}

body {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

#content-divider {
	width: 90%;
	height: 1px;
	background: #AAA;
}

header {
	width: 90%;
	height: 20vh;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

main {
	width: 90%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}

nav {
	width: 20%;
	margin-top: 5vh;
}

#category-divider {
	position: sticky;
	left: 20%;
	top: 5vh;
	height: 90vh;
	width: 1px;
	background: #AAA;
	margin-top: 5vh;
}

section {
	width: 80%;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-content: flex-start;
}

article {
	width: 50%;
	height: 50vh;
	/*padding: 5% 0 5% 2%;*/
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}

.thumbnail-container {
	border: 1px black solid;
	width: 90%;
	height: 90%;
	padding: 5%;
}

img {
	max-width: 100%;
	height: auto;
}
