* {
	box-sizing:			border-box;
	-webkit-box-sizing:	border-box;
	-moz-box-sizing:	border-box;

	margin: 0; /*to get rid of browsers applying margins by default (very silly)*/
}

html, body {
	/*height: 100%;*/
}

#page-container {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

#content-divider {
	position: absolute;
	top: 20vh;
	left: 29%;
	width: 60%;
	border: black 1px solid;
}

header {
	width: 90%;
	background: limegreen;
	height: 20vh;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

main {
	width: 90%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}

nav {
	width: 20%;
	height: 2000px;
	background: lightsalmon;
}

#category-divider {
	position: sticky;
	left: 20%;
	top: 10vh;
	height: 80vh;
	border: black 1px solid;
}

section {
	width: 80%;
	height: 2000px;
	background: lightseagreen;
}
