* {
	box-sizing:			border-box;
	-webkit-box-sizing:	border-box;
	-moz-box-sizing:	border-box;

	margin: 0; /* to get rid of browsers applying margins by default (very silly) */
	font-family: "Baloo 2", cursive;
}

body {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

#content-divider {
	width: 90%;
	height: 2px;
	background: #AAA;
	border-radius: 25%;
}

#header-anchor {
	width: 100%;
	height: 20vh;
	position: absolute;
	top: 0;
}

header {
	width: 90%;
	height: 20vh;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

header h1 {
	font-size: 72px;
	font-family: "Nanum Pen Script", cursive;
}

header h2 {
	font-size: 24px;
	color: #333;
}

main {
	width: 90%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}

nav {
	width: 20%;
	margin-top: 5vh;
	display: flex;
	flex-flow: column nowrap;
}

nav h2 {
	font-size: 28px;
	text-decoration: black underline;
}

nav a {
	font-size: 20px;
	display: block;
	text-decoration: none;
	font-weight: normal;
	background: white;
	cursor: pointer;
	color: black;
}

nav a:hover {
	margin-left: 10px;
}

nav a:active {
	position: relative;
	top: 2px;
}

nav a.selected-category {
	text-decoration: black underline;
	font-weight: bold;
}

nav .tags-block {
	margin-left: 20px;
	transition: max-height 0.2s;
}

#category-divider {
	position: sticky;
	left: 20%;
	top: 5vh;
	height: 90vh;
	width: 2px;
	background: #AAA;
	margin-top: 5vh;
	border-radius: 25%;
}

section {
	width: 80%;
}

article {
	width: 50%;
	height: 400px;
	display: inline-flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}

.thumbnail-container {
	border: 2px #CCC solid;
	border-radius: 5px;
	width: 90%;
	height: 90%;
	padding: 5%;
	overflow: hidden;
}

.thumbnail-container a:link, a:visited {
	text-decoration: none;
	color: black;
}

.thumbnail h3 {
	font-size: 20px;
	text-decoration: underline;
}

.thumbnail p {
	font-size: 18px;
}

img {
	max-width: 100%;
	height: auto;
	border: 2px #CCC solid;
	border-radius: 5px;
}

footer {
	margin-top: 5vh;
	height: 20vh;
	width: 100%;
	background: #CCC
}
