* {
	box-sizing:         border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;

	margin: 0; /*to get rid of browsers applying margins by default (very silly)*/

	font-family: 'Noto Sans', sans-serif;
}

/* TODO: add custom styles for range sliders (style for disabled as well)*/

html, body {
	height: 100%;
}

body {
	display: flex;
	flex-flow: row wrap;
}

#phasors-container {
	width: 30%;
	height: 90%;
	padding: 0 10px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

#waves-container {
	width: 70%;
	height: 90%;
	padding: 0 10px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

.phasor-container {
	flex-basis: 27.5vh;
	width: 100%;
	margin: 10px;
	overflow: auto;
	display: flex;
	flex-flow: row nowrap;
	border: 5px black solid;
}

.wave-container {
	flex-basis: 27.5vh;
	width: 100%;
	margin: 10px;
	overflow: auto;
	display: flex;
	flex-flow: column nowrap;
	border: 5px black solid;
}

#resultant-phasor-container {
	flex-basis: 35vh;
}

#resultant-wave-container {
	flex-basis: 35vh;
}

.phasor-controls {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	width: 50%;
}

.frequency-controls, .amplitude-controls, #resultant-phasor-labels {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.phasor-canvas-container {
	height: 100%;
	width: 50%;
	padding: 5px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}

.wave-canvas-container {
	height: 100%;
	width: 100%;
	padding: 5px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}

#master-controls-container {
	width: 100%;
	height: 10vh;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
}

#title {
	margin-left: 10px;
	flex-shrink: 0;
}

#master-controls {
	width: 50%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
}

#master-controls button{
	font-size: 1.5em;
}
